.first-header {
  background: #34c4b4;
}
.first-header a {
  background: #d4e4ee;
}
.first-header a:hover {
  background: #d4e4ee;
  color: #34c4b4;
  transition: ease-in-out 0.5s;
}
.first-header > div {
  padding: 1em 5%;
}
.register {
  padding: 1em 5%;
}

.selectedLink {
  background: rgba(52, 196, 180,0.5);
  color: #fff;
  text-decoration-style: solid 3px;
}
.selectedLink span {
  border-bottom: 2px solid #fff;
}
.first-header span {
  padding: 0em 1em;
  color: #fff;
}
.first-header .register {
  margin-right: 20%;
  background: #fff;
}
.second-header {
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 7;
}
#menu {
  padding: 1.8em 5%;
}
#menu a {
  padding: 1.8em 1em;
}
#menu a:hover {
  background: #34c4b4;
  transition: ease-in-out 0.5s;
  color: #fff;
}

.second-header > div {
  padding: 1em 5%;
}
.tech {
  font-family: impact;
  font-size: 2.5em;
  color: #34c4b4;
}
.edu {
  font-family: impact;
  font-size: 1.5em;
  color: #9c9494;
}
.menu span {
  padding: 0em 1em;
}
.menu form {
  display: inline-block;
}
.menu input {
  border: none;
}
.menu button {
  background: none;
  border: none;
}
.menu form span {
  border: solid 1px #34c4b4;
  padding: 0.39em;
  border-radius: 2em;
}
.menu input:focus {
  outline: none;
}
