#popular {
  background: rgba(226, 220, 220, 0.5);
}
.popular-image {
  width: 100%;
  height:13em;
  border-radius: 1em 1em 0em 0em
}
.popular-div{
    background: #fff
}
.popular-items div {
  padding: 0em;
  margin: 1em;
  width: 33%;
  border-radius: 1em 1em 0em 0em;
}
.school{
    text-align: left;
    padding: 0em 1em;
}
.school-detail{
    text-align: justify;
    padding: 0em 1em;
}