.login {
  height: 80vh;
  width: 70%;
  background: #fff;
  margin: auto;
  margin-top: 3em;
  border-radius: 3em;
}
.login-image {
  padding: 5em 0em;
  margin: auto;
  width: 50%;
}
#login-image {
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}
.login-signup-details {
  margin: auto;
  width: 50%;
  overflow: hidden;
}
.login-detail {
  max-height: 70vh;
  overflow: scroll;
}
.login-detail input {
  border-radius: 1em;
  border: none;
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: transparent;
  outline: none;
}
.login-detail input:focus {
  background: transparent;
}
#loader {
  background: transparent !important;
  
}
#wrong{
  color:red;
  font-size: 1em;
  display: none;
}
#right{
  font-size: 1em;
  margin: 0em;
  padding: 0em;
  display: none;
}
#spinner{
  display: none
}
.login-detail button {
  border-radius: 1em;
  border: none;
  font-size: 1.5em;
  padding: 0.5em 1em;
  background: transparent;
  outline: none;
  width: 100%;
  color: #fff;
}
.login-detail div {
  background: #f5f5f5;
  margin: 2em;
  padding: 0.3em 1em;
  border-radius: 2em;
  color: #34c4b3;
}
.login-detail #login-submit {
  padding: 0em;
  background: #34c4b3;
}
