@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
  font-family: kurale, menlo;
  font-size: 14px;
  background: rgb(212, 228, 238);
}

button {
  cursor: pointer;
}
a {
  text-decoration-line: none;
  color: initial;
}
a:visited {
  color: initial;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.main-center {
  justify-content: center;
}
.cross-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
