@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');

*{
    font-family: kurale, menlo;
    font-size: 14px;
}
body{
    background: #f1eded
}
.flex{
    display:flex
}
.flex-column{
    display:flex;
    flex-direction: column
}
.main-center {
    justify-content: center
}
.cross-center{
    align-items: center
}
.space-between{
    justify-content: space-between
}